.html
{
	background-color: #738489;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 75px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	padding-bottom: 425px;
	margin-left: auto;
	margin-right: auto;
	background: #FFFFFF url("../images/notebook_paper_background-light_blue_gray-page-fr5.png") no-repeat center center;
	background-color: rgba(255, 255, 255, 0.46);
	background-size: cover !important;
}

#u2095-4
{
	z-index: 7;
	width: 465px;
	min-height: 34px;
	line-height: 55px;
	font-size: 46px;
	font-family: Comic Sans, Comic Sans MS, cursive;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 270px;
}

#u2046-5
{
	z-index: 2;
	width: 80px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 30px;
	left: 822px;
}

body
{
	padding-top: 6px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

