.html
{
	background-color: #738489;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 524px;
	border-style: none;
	border-color: #000000;
	margin-left: auto;
	margin-right: auto;
	background: transparent url("../images/notebook_paper_background-light_blue_gray-page-fr.png") no-repeat center center;
	background-size: cover !important;
}

#u1705
{
	z-index: 31;
	width: 186px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 18px;
}

#u1705_img
{
	padding-right: 1px;
}

#u1677-4
{
	z-index: 27;
	width: 109px;
	min-height: 7px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 204px;
}

#u2140-4
{
	z-index: 33;
	width: 296px;
	min-height: 40px;
	line-height: 37px;
	font-size: 31px;
	font-family: Comic Sans, Comic Sans MS, cursive;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 385px;
}

#menuu169
{
	z-index: 2;
	width: 960px;
	margin-bottom: -41px;
	margin-right: -10000px;
	margin-top: 531px;
}

#u170
{
	width: 238px;
	min-height: 34px;
	margin-right: -10000px;
}

#u173
{
	width: 238px;
	padding-bottom: 10px;
}

#u173:hover
{
	margin: 0px;
}

#u173:active
{
	margin: 0px;
}

#u194
{
	width: 238px;
	min-height: 34px;
	margin-right: -10000px;
	left: 240px;
}

#u195
{
	width: 238px;
	padding-bottom: 10px;
}

#u173.MuseMenuActive,#u195:hover
{
	margin: 0px;
}

#u195:active
{
	margin: 0px;
}

#u176-4,#u197-4
{
	width: 238px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
}

#u211
{
	width: 239px;
	min-height: 34px;
	margin-right: -10000px;
	left: 480px;
}

#u214
{
	width: 239px;
	padding-bottom: 10px;
}

#u195.MuseMenuActive,#u214:hover
{
	margin: 0px;
}

#u214:active
{
	margin: 0px;
}

#u1915
{
	width: 239px;
	min-height: 34px;
	margin-right: -10000px;
	left: 721px;
}

#u1916
{
	width: 239px;
	padding-bottom: 10px;
}

#u214.MuseMenuActive,#u1916:hover
{
	margin: 0px;
}

#u1916:active
{
	margin: 0px;
}

#u1916.MuseMenuActive
{
	margin: 0px;
}

#u217-4,#u1919-4
{
	width: 239px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
}

body
{
	padding-top: 5px;
	padding-bottom: 40px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -531px;
}

